<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gain_slider_brianMoon - AU.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gain_slider_brianMoon - AUv3 AppExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gain_slider_brianMoon - All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gain_slider_brianMoon - Shared Code.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gain_slider_brianMoon - Standalone Plugin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gain_slider_brianMoon - VST3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>141EA5E2AB32099A58A98BA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD7CF30A4F30734BF4E88A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA9907B29949F5F5ABA7304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AACCF19A7DE34F4BA407E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C389EAA5ED5F3786A047E57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
